# Ignore checkpoints and temporary notebook files
.ipynb_checkpoints/
*.ipynb~

# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore system files
.DS_Store

# Ignore large raw or intermediate files
data/*.csv

# Keep only cleaned, contextual XGB-imputed CSVs
!data/imputed_contextual_xgb_*.csv

# Ignore environment or config backups
requirements.txt~
.env
